/* Reset al html */
*{
margin: 0;
padding: 0;
}

/* Le aplico un fondo a todo el body */
body{
    background-color: #000000;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23010a11' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23021423' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23041d34' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23052746' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23063157' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
}


/* Cambio el tamaño de la imagen */
.img__logo{
    width: 80px;
    height: 80px;
}

/* Le doy tamaño al header */
header{
    height: 100px;
    width: 100vw;
}

/* Coloco los elementos del navbar al final del header */
.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
    justify-content: flex-end !important;
}

/* Cambio el tamaño del auto de busqueda */
.img-auto-busq{
    width: 30px;
    height: 30px;
}

/* Cambio el tamaño de la lupa de busqueda */
.lup-busq{
    width: 30px;
    height: 30px;
}

/* DIMENSIONO EL CUADRO DE BUSQUEDA Y CAMBIO COLOR DE FONDO */
#sect-princ{
    height: 300px;
    width: 300px;
    background-color: #063157;
    /* #476580 otro tono de azul*/
}



/* LE CAMBIO LAS MEDIDAS A LA CARD DE TODOS LOS AUTOS */
.card {
    --bs-card-spacer-y: 1rem;
    --bs-card-spacer-x: 1rem;
    --bs-card-title-spacer-y: 0.5rem;
    --bs-card-title-color: ;
    --bs-card-subtitle-color: ;
    --bs-card-border-width: var(--bs-border-width);
    --bs-card-border-color: var(--bs-border-color-translucent);
    --bs-card-border-radius: var(--bs-border-radius);
    --bs-card-box-shadow: ;
    --bs-card-inner-border-radius: calc(var(--bs-border-radius) - (var(--bs-border-width)));
    --bs-card-cap-padding-y: 0.5rem;
    --bs-card-cap-padding-x: 1rem;
    --bs-card-cap-bg: rgba(var(--bs-body-color-rgb), 0.03);
    --bs-card-cap-color: ;
    --bs-card-height: ;
    --bs-card-color: ;
    --bs-card-bg: var(--bs-body-bg);
    --bs-card-img-overlay-padding: 1rem;
    --bs-card-group-margin: 0.75rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: var(--bs-card-height);
    word-wrap: break-word;
    background-color: var(--bs-card-bg);
    background-clip: border-box;
    border: var(--bs-card-border-width) solid var(--bs-card-border-color);
    border-radius: var(--bs-card-border-radius);
    width: 18rem !important;
}

/* EDITO EL FORMULARIO TRAIDO DE BOOTSTRAP PARA QUE NO OCUPE EL 100% DEL WIDTH */
.form-select {
    --bs-form-select-bg-img: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e);
    display: block;
    width: 150px;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    -moz-padding-start: calc(0.75rem - 3px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    background-color: var(--bs-form-control-bg);
    background-image: var(--bs-form-select-bg-img),var(--bs-form-select-bg-icon,none);
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* cambiamos color al menu hamburguesa cuando se presiona */
.navbar-toggler {
    padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
    font-size: var(--bs-navbar-toggler-font-size);
    line-height: 1;
    color: #063157 !important;
    background-color: transparent;
    border: var(--bs-border-width) solid var(--bs-navbar-toggler-border-color);
    border-radius: var(--bs-navbar-toggler-border-radius);
    transition: var(--bs-navbar-toggler-transition);
}

/* CAMBIO COLOR DE FONDO DE BOTONES */
.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #063157;
    --bs-btn-border-color: #063157;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #063157;
    --bs-btn-hover-border-color: #063157;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #063157;
    --bs-btn-active-border-color: #063157;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #063157;
    --bs-btn-disabled-border-color: #063157;
    color: #fff;
}


/*  Le doy color y medidas al footer */
footer{
    background-color: #063157;
    width: 100vw !important;
    height: 380px;
}

/* Le doy medida a la imagen del footer de la carta */
.img-ft-nw{
    height: 40px;
    width: 50px;
}

/* Le doy tamaño y estilo al input del email */
.email-in{
    width: 150px;
    height: 35px;
    border-color: #063157;
    border-radius: 5px;
}

/* Le cambio el color del fondo al boton de enviar que esta en el footer */
.btn-ftr{
    background-color: #fff !important;
    color: #063157;
}

/* Cuando ponemos el mouse encima del boton, cambia de color */
.btn-ftr:hover {
    color: #fff !important;
    background-color: green !important;
    border-color: var(--bs-btn-hover-border-color);
}

/* Le doy fondo y estilo al logo del foter */
.img__logo__footer{
    background-color: #fff !important;
    border-radius: 100px !important;
}

/* <---------------- PAGINA SUCURSALES ---------------> */
/* Cambio de medidas y fondo a la bienvenida de pagina */
.sct-princ-sucursales{
    width: 100vw !important;
    background-color: #063157 !important;
    height: 150px;
}

/* Cambio de medidas a la imagen de llantas de la bienvenida */
.llantas-presentacion{
    width: 100px;
    height: 100px;
}

/* Cambio de meidas a la imagen de sucursal y a los mapas iframe */
.img-sucursal{
    width: 300px;
    height: 300px;
}

/* Le doy medidas a los cuadros de texto para que no desborde y quede simetrico */
.text-section-sucursales{
    width: 300px;
    height: 240px;
}

/* le doy medidas a los iconos de telefono y ubicacion */
.img-datos{
    width: 30px;
    height: 30px;
}
/* <---------------- PAGINA SUCURSALES ---------------> */


/* <---------------- PAGINA VENTA DE VEHICULOS ---------------> */
.section-busqueda{
    width: 200px;
    height: 480px;
}
/* <---------------- PAGINA VENTA DE VEHICULOS ---------------> */





/* Media querys para responsive */


 /* //Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    /* Medidas al cuadro de busqueda */
    #sect-princ{
        height: 300px;
        width: 450px;
    }

    /* medidas al icono de lupa */
    .lup-busq{
        width: 35px;
        height: 35px;
    }

    /* medidas al footer */
    footer{
        width: 100vw !important;
        height: 350px;
    }

    /* <----- SEGUNDA PAGINA -----> */
    /* Le cambio el tamaño a las letras con etiqueta P */
    .p-texto{
        font-size: 1.2rem;
    }
    /* <----- SEGUNDA PAGINA -----> */

}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    /* Medidas al cuadro de busqueda */
    #sect-princ{
        height: 150px;
        width: 600px;
    }
    
    /* <----- SEGUNDA PAGINA -----> */
    /* Le cambio el tamaño a las letras con etiqueta P */
    .p-texto{
        font-size: 1.3rem;
    }
    /* <----- SEGUNDA PAGINA -----> */
    
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    /* medidas al footer */
    footer{
        width: 100vw !important;
        height: 220px;
    }

    /* cambio de tamaño a las palabras del nav y cambio de color */
    .nav-link {
        display: block;
        padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
        font-size: var(--bs-nav-link-font-size);
        font-weight: var(--bs-nav-link-font-weight);
        color: var(--bs-nav-link-color);
        text-decoration: none;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
        font-size: 1.2rem;
        color: #063157;
    }

    /* <----- SEGUNDA PAGINA -----> */
    /* Cambio medidas a la imagen de sucursal y los mapas iframe */
    .img-sucursal{
        width: 300px;
        height: 300px;
    }

    /* le cambio el tamaño al cuadro de bienvenida de pagina */
    .sct-princ-sucursales{
        width: 100vw !important;
        background-color: #063157 !important;
        height: 250px;
    }

    /* Le doy medidas a los cuadros de texto para que no desborde y quede simetrico */
    .text-section-sucursales{
        width: 410px;
        height: 240px;
    }
    /* le doy medidas a los iconos de telefono y ubicacion */
    .img-datos{
        width: 35px;
        height: 35px;
    }
    /* le cambio el tamaño a la imagen de llantas del cuadro de bienvenida */
    .llantas-presentacion{
        width: 150px;
        height: 150px;
    }
    /* <----- SEGUNDA PAGINA -----> */
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
     /* <----- SEGUNDA PAGINA -----> */
     /* Le cambio el tamaño a los titulos h2 conozca, sucursal ramallo y san nicolas */
    .titulos{
        font-size: 2rem;
    }
     /* <----- SEGUNDA PAGINA -----> */
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    /* Cambio el ancho de las cards */
    .card {
        --bs-card-spacer-y: 1rem;
        --bs-card-spacer-x: 1rem;
        --bs-card-title-spacer-y: 0.5rem;
        --bs-card-title-color: ;
        --bs-card-subtitle-color: ;
        --bs-card-border-width: var(--bs-border-width);
        --bs-card-border-color: var(--bs-border-color-translucent);
        --bs-card-border-radius: var(--bs-border-radius);
        --bs-card-box-shadow: ;
        --bs-card-inner-border-radius: calc(var(--bs-border-radius) - (var(--bs-border-width)));
        --bs-card-cap-padding-y: 0.5rem;
        --bs-card-cap-padding-x: 1rem;
        --bs-card-cap-bg: rgba(var(--bs-body-color-rgb), 0.03);
        --bs-card-cap-color: ;
        --bs-card-height: ;
        --bs-card-color: ;
        --bs-card-bg: var(--bs-body-bg);
        --bs-card-img-overlay-padding: 1rem;
        --bs-card-group-margin: 0.75rem;
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        height: var(--bs-card-height);
        word-wrap: break-word;
        background-color: var(--bs-card-bg);
        background-clip: border-box;
        border: var(--bs-card-border-width) solid var(--bs-card-border-color);
        border-radius: var(--bs-card-border-radius);
        width: 20rem !important;
    }
    /* Cambio las medidas del input de email */
    .email-in{
        width: 200px;
        height: 35px;
        border-color: #063157;
        border-radius: 5px;
    }
    /* cambio el tamaño del cuadro de busqueda */
    #sect-princ{
        height: 200px;
        width: 950px;
    }

    /* cuando se agranda la pantalla, achico el div que contiene los autos para que solo se formen filas de a 4 autos */
    .contenedor-autos{
        width: 1500px;
    }

    /* cambio el tamaño de las letras de los select en el cuadro de busqueda principal */
    .form-select {
        --bs-form-select-bg-img: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e);
        display: block;
        width: 240px;
        height: 50px;
        padding: 0.375rem 2.25rem 0.375rem 0.75rem;
        -moz-padding-start: calc(0.75rem - 3px);
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: var(--bs-body-color);
        background-color: var(--bs-form-control-bg);
        background-image: var(--bs-form-select-bg-img),var(--bs-form-select-bg-icon,none);
        background-repeat: no-repeat;
        background-position: right 0.75rem center;
        background-size: 16px 12px;
        border: var(--bs-border-width) solid var(--bs-border-color);
        border-radius: 0.375rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        font-size: 1.5rem;
    }
    /* cambio las medidas de la lupa del cuadro de busqueda */
    .lup-busq{
        width: 45px;
        height: 45px;
    }
    /* le doy medidas a la imagen principal para que ocupe todo el viewport */
    .img-princ{
        width: 100vw;
        height: 90vh !important;
    }
    /* cambio tamaño del logo del nav */
    .img__logo{
        width: 110px;
        height: 110px;
    }

    /* cambio tamaño de letras en nav y les doy color */
    .nav-link {
        display: block;
        padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
        font-size: var(--bs-nav-link-font-size);
        font-weight: var(--bs-nav-link-font-weight);
        color: var(--bs-nav-link-color);
        text-decoration: none;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
        font-size: 1.5rem;
        color: #063157;
    }
    /* Cambio medidas al footer */
    footer{
        width: 100vw !important;
        height: 260px;
    }

    

     /* <----- SEGUNDA PAGINA -----> */
     /* cambio tamaño a la imagen de sucursal y los mapas iframe */
    .img-sucursal{
        width: 400px;
        height: 400px;
    }
    /* cambio el tamaño al cuadro principal de bienvenida */
    .sct-princ-sucursales{
        width: 100vw !important;
        background-color: #063157 !important;
        height: 250px;
    }
    /* cambio el tamaño a los textos p */
    .p-texto{
        font-size: 2rem;
    }   
    /* cambio el tamaño a las llantas del cuadro principal de bienvenida */
    .llantas-presentacion{
        width: 200px;
        height: 200px;
    }
    /* cambio tamaño al texto del footer */
    .p-texto-ftr{
        font-size: 1.3rem;
    }
     /* <----- SEGUNDA PAGINA -----> */
    
}