/*  Le doy color y medidas al footer */
footer{
    background-color: $blue-principal;
    width: 100vw;
    height: 36rem;

    /* Le doy fondo y estilo al logo del foter */
    .img__logo__footer{
        background-color: $blanco;
        border-radius: 10rem;
    }

    /* Le doy tamaño y estilo al input del email */
    .email-in{
        width: 15rem;
        height: 3.8rem;
        border-color: $blue-principal;
        border-radius: .5rem;
        font-size: 2rem;
    }

    /* Le cambio el color del fondo al boton de enviar que esta en el footer */
    .btn-ftr{
        background-color: $blanco !important;
        color: $blue-principal;

        /* Cuando ponemos el mouse encima del boton, cambia de color */
        &:hover {
            color: $blanco !important;
            background-color: green !important;
        }
    }

    /* Le doy medida a la imagen del footer de la carta */
    .img-ft-nw{
        height: 4rem;
        width: 5rem;
    }

    h4{
        font-size: 2.5rem;
    }

    h5{
        font-size: 2rem;
    }

    p{
        font-size: .6rem;
    }

    /*PANTALLA > 1200px*/
    @include responsive(map-get($breakpoints, xl)){
        /*cambiamos medidas al logo*/
        /* Le doy tamaño y estilo al input del email */
        .email-in{
            width: 18rem;
        }
    }

}

/*PANTALLA > 576PX*/
@include responsive(map-get($breakpoints, sm)){
    /*cambiamos medidas al logo*/
    footer{
        height: 32rem;
    }
}

/*PANTALLA > 768PX*/
@include responsive(map-get($breakpoints, md)){
    /*cambiamos medidas al logo*/
    footer{
        height: 22rem;

        /* Le doy medida a la imagen del footer de la carta */
        .img-ft-nw{
            height: 5.5rem;
            width: 6.5rem;
        }
    }
}

/*PANTALLA > 992PX*/
@include responsive(map-get($breakpoints, lg)){
    /*cambiamos medidas al logo*/
    footer{
        height: 26rem;

        .email-in{
            width: 20rem;
        }
    }
}

/*PANTALLA > 1500px*/
@include responsive(map-get($breakpoints, xxl)){
    /*cambiamos medidas al logo*/
    footer{
        height: 28rem;

        .email-in{
            width: 20rem;
        }
    }
}

/*PANTALLA > 1700px*/
@include responsive(map-get($breakpoints, xxxl)){
    /*cambiamos medidas al logo*/
    footer{
        height: 27rem;

        .email-in{
            width: 20rem;
        }
    }
}









