/*H1 PRINCIPAL*/
.title-princ-cont{
    font-size: 3.3rem;
}

/*CAMBIO MEDIDAS DEL CUADRO DE TEXTO*/
.text-section-sucursales-cont{
    width: 30rem;
    height: 30rem;
}
/*CAMBIO MEDIDAS DE LOS TITULOS*/
.titulos-cont{
    font-size: 2.5rem;
}


/*PANTALLA > 576PX*/
@include responsive(map-get($breakpoints, sm)){

    /*MARGENES A LOS SECTIONS DE SUCURSALES*/
    .section-sucursal-cont{
        margin-top: 3rem;
        margin-bottom: 5rem;
    }

    /*CAMBIO MEDIDAS DEL TITULO PRINCIPAL*/
    .title-princ-cont{
        font-size: 3.3rem;
    }
    /*CAMBIO MEDIDAS DE TODOS LOS TITULOS*/
    .titulos-cont{
        font-size: 3rem;
    }
    /*CAMBIO TAMAÑO DE FUENTE DE TODOS LOS PARRAFOS*/
    .p-texto{
        font-size: 2.2rem;
    }
    
}

/*PANTALLA > 992PX*/
@include responsive(map-get($breakpoints, lg)){
    /*LE DOY MARGEN A LOS SECTION QUE CONTIENEN LAS SUCURSALES*/
    .section-sucursal-cont{
        margin-top: 5rem;
        margin-bottom: 5rem;
    }
    /*CAMBIO TAMAÑO DE FUENTE TITULO PRINCIPAL*/
    .title-princ-cont{
        font-size: 3.5rem;
    }
    /*CAMBIO FUENTE DE TODOS LOS TITULOS*/
    .titulos-cont{
        font-size: 3.2rem;
    }
    /*CAMBIO TAMAÑO FUENTE DE TODOS LOS PARRAFOS*/
    .p-texto{
        font-size: 2.5rem;
    }

    
}

/*PANTALLA > 1200PX*/
@include responsive(map-get($breakpoints, xxl)){
    /*CAMBIO TAMAÑO DE FUENTE TITULO PRINCIPAL*/
    .title-princ-cont{
        font-size: 3.5rem;
    }
    /*CAMBIO FUENTE DE TODOS LOS TITULOS*/
    .titulos-cont{
        font-size: 3.2rem;
    }
    /*CAMBIO TAMAÑO FUENTE DE TODOS LOS PARRAFOS*/
    .p-texto{
        font-size: 2.5rem;
    }
    
}





