@import "../component/card-pagventa";
/*Margen al cuadro de busqueda*/
.section-busqueda{
    margin-top: 3rem;

    /*cambio tamaño de fuente al h2*/
    .h2-sect-busq{
        font-size: 2.5rem;
    }
}

/*cambio width al contenedor de autos*/
.div-autos{
    width: 50rem;
}


/*PANTALLA > 992PX*/
@include responsive(map-get($breakpoints, lg)){
    /*cambio width de contenedor autos*/
    .div-autos{
        width: 70rem;
    }
    
}

/**/
/*PANTALLA > 1200PX*/
@include responsive(map-get($breakpoints, xl)){
    /*cambio width de contenedor autos*/
    .div-autos{
        width: 93rem;
    }

    /*le doy margen izquierdo al cuadro de busqueda*/
    .section-busqueda{
        margin-left: 5rem;

        /*cambio tamaño de fuente y altura */
        .form-select{
            font-size: 2.3rem;
            height: 5rem;
        }
        
        /*cambio tamaño al h2*/
        .h2-sect-busq{
            font-size: 3rem;
        }
    }
    /*agrando width boton busqueda*/
    .btn-busq{
        width: 13rem;
    }
    
    
}

/*PANTALLA > 1500X*/
@include responsive(map-get($breakpoints, xxl)){
    /*cambio width contenedor autos*/
    .div-autos{
        width: 110rem;
    }

    
}

/*PANTALLA > 1700X*/
@include responsive(map-get($breakpoints, xxxl)){
    /*cambio div contenedor autos*/
    .div-autos{
        width: 150rem;
    }

    /*agrando alto de items select y ancho*/
    .form-select{
        height: 6rem;
        width: 35rem;

    }
}
